<div class="footer">
    <div class="footer__content container">
        <div class="footer__content__logo">
            <a href="/">
                <img src="assets/tmovie.svg" alt="" />
                tMovies
            </a>
        </div>
        <div class="footer__content__menus">
            <div class="footer__content__menu">
                <a href="#">Home</a>
                <a href="#">Contact us</a>
                <a href="#">Term of services</a>
                <a href="#">About us</a>
            </div>
            <div class="footer__content__menu">
                <a href="#">Live</a>
                <a href="#">FAQ</a>
                <a href="#">Premium</a>
                <a href="#">Privacy policy</a>
            </div>
            <div class="footer__content__menu">
                <a href="#">Must watch</a>
                <a href="#">Recent release</a>
                <a href="#">Top IMDB</a>
            </div>
        </div>
    </div>
</div>