<div class="header" scrollToShrink>
    <div class="header__wrap container">
        <div class="header__logo">
            <a href="/">
                <img src="assets/tmovie.svg" alt="" />
                tMovies
            </a>
        </div>
        <ul class="header__nav">
            <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li><a routerLink="/movie" routerLinkActive="active">Movies</a></li>
            <li><a routerLink="/tv" routerLinkActive="active">TV Series</a></li>
        </ul>
    </div>
</div>
