<div class="modal-header">
  <h5 class="modal-title">{{title}}</h5>
  <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
</div>
<div class="modal-body">
  <button type="button" class="login-with-google-btn" (click)="signInWithGoogle()">
    <i class="fa-brands fa-google" style="color:red; padding-right: 1rem;"></i>
    Sign in with Google
  </button>
  <button type="button" class="login-with-facebook-btn" (click)="loginWithFacebook()">
    <i class="fa-brands fa-facebook" style="color:blue; padding-right: 1rem;"></i>
    Sign in with Facebook
  </button>
  <button type="button" class="login-with-facebook-btn" (click)="loginWithMicrosoft()">
    <i class="fa-brands fa-microsoft" style="color:blue; padding-right: 1rem;"></i>
    Sign in with Microsoft
  </button>
</div>
<!-- <div class="modal-footer">

</div> -->