<div class="movie-slide">
    <swiper [config]="config">
        <ng-container *ngFor="let slide of movies; let i = index">
            <ng-template swiperSlide let-data>
                <div class="movie-slide__item {{data.isActive ? 'active' : ''}}"
                    [style]="bgImg(slide?.backdrop_path || slide?.poster_path)">
                    <div class="movie-slide__item__content container">
                        <div class="movie-slide__item__content__info">
                            <h2 class="title">{{ slide.title }}</h2>
                            <div class="overview">{{ slide.overview }}</div>
                            <div class="btns">
                                <custom-button btnClass="btn" injectElement="Watch Now"></custom-button>
                                <custom-button btnClass="btn btn-outline" injectElement="Watch Trailer"
                                    (click)="showModal(slide.id)"></custom-button>
                            </div>
                        </div>
                        <div class="movie-slide__item__content__poster">
                            <img [src]="env.w500Image(slide.poster_path)" alt="" />
                        </div>
                    </div>
                </div>
            </ng-template>
        </ng-container>
    </swiper>
</div>

<app-modal [active]="isActive" [videoSrc]="videoSrc" (close$)="hideModal()"></app-modal>